pages:
  image: node:lts
  stage: deploy
  script:
    - yarn install
    - yarn build:storybook:safe
    # Create the public directory if not exists to hold our site files
    - mkdir -p public

    # Create the special _redirects file required by GitLab Pages to link to storybook's index.html
    - echo "/ /storybook-static/index.html 301" > public/_redirects

    # Move the storybook build output INTO the public directory
    - mv storybook-static public/
  artifacts:
    paths:
      - public
  only:
    - main
