pages:
  stage: deploy
  script:
    - yarn # or yarn install if using yarn
    - yarn build-storybook # or yarn build-storybook
    - mv storybook-static public
  artifacts:
    paths:
      - public
  only:
    - main # or your desired branch for deployment
